* {
    box-sizing: border-box;
}
header {
    padding: 60px;
    text-align: left;
    background: blue;
    color: white;
}
nav {
    text-align: right;
}
nav a {
    display: inline-block;
    color: aquamarine;
}