* {
    box-sizing: border-box;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
header {
    display: flex;
    text-align: left;
    padding: 5%;
    background: blue;
    color: white;
}
h1 {
    display: flex;

}
nav {
    display: flex;
}
nav a {
    display: flex;
    color: aquamarine;
}
about-me {
    display: flex;
    flex-wrap: wrap;
}
mini-bio {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 200px;
}
/*titles to the sections*/
 h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 100px 100px 100px 200px;
    width: 500px;
    background-color: aquamarine;
}
/*image for horiseon marketing project*/
img {
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    width: 30%;
}